{# ともすたフォトライブラリー用html #}

<!DOCTYPE html>
{#<html lang="en">#}
{% load static %}
<head>
    <meta charset="UTF-8">
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {#------- google fontsからのフォント(文字書式用)CSS ---使わなくても良い----#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    {#------- google fontsからのCSS -------#}

    <link rel="stylesheet" href={% static "css/style_photo.css" %}>
    <title>My Photo</title>
</head>
<body>
    <header>
        <h1>My Photos</h1>
    </header>
    {% for i in lists %}
    {% if i == 2 %}
        <h1>写真はありません</h1>
    {% else %}
    <div class="container">
        <div id="img_unit">
            <div class="photo">
                <img src="{% static 'img/img' %}{{i}}.jpg">
                <div class="inner"><p>コメント{{i}}<span>nickname</span></p>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</body>
</html>