{# ログイン画面 PHP版組合アプリからの流用 #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {% load  static %}    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href={% static "css/style.css"%}>
    <title>ホーム画面</title>
</head>
<body>
<div id="wrap">
    <div id="head">
        <h1><a href="/"><a/>ホーム画面へようこそ</h1>
    </div>
    <div id="content">
        <div id="lead">
            <p>お疲れ様です。メールアドレスとパスワードでログインして下さい。</p>
            <br>
            <p>&raquo;<a href="/login/">ログインする</a></p>
            <br>
            <p>入会手続きがまだの方はこちらからどうぞ。</p>
            <br>
            <p>&raquo;<a href="/signup/">入会手続きをする</a></p>
            <br>
            <p>extendsやblock〇〇で遊びたい時はこちら</p>
            <br>
            <p>&raquo;<a href="/extends_block_test/">extendsやblock〇〇で遊ぶ</a></p>
            <br>
        </div>
    </div>
</div>
</body>
</html>
